
/*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.nav{
  width: 300px;
}
.nav__link{
  color: #303440;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}
.nav__link--inside{
  border-radius: 6px;
  padding-left: 20px;
}
.nav__link--inside:hover{
  background: #f6f8fa;

}
.list{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background: #fff;
}
.list__item{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.list__item--click{
  cursor: pointer;
}
.list__buttom{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}
.arrow .list__arrow{
  transform: rotate(90deg);
}
.list__arrow{
  margin-left: auto;
  width: 15px;
}
.list__show{
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height .4s;
  height: 0;
}
.list__img{
  width: 15px;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



    body {
      font-family: 'Muli', sans-serif;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      line-height: 1.58;
      letter-spacing: -.003em;
      font-size: 20px;
      padding: 70px;
    }
    h1{

        font-family: 'Bangers', cursive;
        
        }
    h3,h4 {
      font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 30px;
      line-height: 1.15;
      letter-spacing: -.02em;
      color: rgba(0, 0, 0, 0.8);
      -webkit-font-smoothing: antialiased;
    }



@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC;
  }
    /* Fallback */
    body{animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }
  
  h3,h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
  }
  h1,h3,h4.sombra {color: white; text-shadow: black 0.1em 0.1em 0.2em}
  ul li{
    display: flex;
    float: left;
    list-style: none;
}
.contenido{
    width: 50%;
    flex-wrap: wrap;
    float: left;
}
.contenedor{

  width: 90%;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-flow:  row wrap;
  border:5px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  min-height: 600px;
  border-radius: 15px;
  flex-direction: column;
}
.btn{
    border-radius: 0.5rem;
    border: 0;
    box-shadow: -1px 1px 8px rgb(0 0 0 / 40%);
    line-height: normal;
    padding: 1rem 1rem;
    appearance: none;
    cursor: pointer;
    transition: background 250ms, box-shadow 250ms;
}
.btn :hover{
  box-shadow: -2px 2px 16px rgba(0,0,0,0.6);
} 
.btn:active,
.btn:focus{
  outline: none;
}
.btn:active{
  box-shadow: -4px 4px 24px rgba(0,0,0,0.8);
}
.imagen-perfil{
  width: 300px;
  border-radius: 150px;
  box-shadow: -4px 4px 24px rgba(0,0,0,0.8);
  
}

#navegador{  
}
#titulo{}
#educacion{}
#experienciaslaborales{}
#skill{}
#foto{}
#hobbies{}
*/